@model OrderViewModel
@{
    ViewBag.Title = "Create Order";
}

<h2>Create Order</h2>

<div class="row">
    @foreach (Product product in @Model.Products)
    {
        <div class="col-md-4">
            <form asp-action="AddItem" method="post">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top fixed-image-height" src="@product.ImageUrl" alt="@product.Description" />
                    <div class="card-body">
                        @product.Name - @product.Price.ToString("C")
                        <input type="hidden" name="prodId" value="@product.ProductId" />
                        <input type="number" name="prodQty" class="form-control" />
                        <button type="submit" class="btn btn-primary mt-2">Add to Order</button>
                    </div>
                </div>
            </form>
        </div>            
    }
</div>
